/* -------------------------------------
全体
------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&family=BIZ+UDPMincho:wght@400;700&family=Rampart+One&family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    color: #191919;
    background-image: url(./img/bg_img.png);
    background-size: cover;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

h1 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    vertical-align: middle;
}

h2 {
    color: black;
    margin: 20px 0 20px;
    font-size: 40px;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

/* ローディング画面 */
#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.spinner {
    width: 70px;
    height: 70px;
    background-color: #fff;
    margin: calc(100vh / 2) auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/* ローディング画面　隠し */
.loaded {
    opacity: 0;
    visibility: hidden;
}

/* -------------------------------------
header部分
------------------------------------- */
.site-header {
    background-color: snow;
    display: flex;
    padding: 0px 3%;
    /* position: fixed; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.site-logo {
    display: flex;
    margin: auto 0;
    letter-spacing: -2px;
    vertical-align: middle;
}

.site-logo img {
    vertical-align: middle;
    margin: auto 5px auto 0;
    height: 60px;
    width: 60px;
}

.nav-list {
    display: flex;
}

.nav-list li {
    display: inline-block;
    padding: 0 25px;
}

.nav-list li a {
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-size: 18px;
    margin: 0 10px;
}

.nav-list li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;
}

.nav-list li a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}


/* -------------------------------------
main部分
------------------------------------- */
.main {
    background-image: url(./img/bg_img.png);
    background-size: cover;
    height: 3000px;
}

.container {
    width: calc(100% - 300px);
    margin: 0 auto;
}

/* heroセクション */
.hero {
    width: calc(100% - 100px);
    height: 400px;
    margin: 50px auto;
    padding: 10px 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
}

.copy-title {
    margin: auto;
    /* background-color: rgba(255, 255, 255, 0.8); */
    color: white;
    width: 480px;
    height: 100px;
    text-align: center;
    line-height: 55px;
    justify-content: center;
    font-size: 45px;
}

.copy-title .title1 {
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
}

.copy-img img {
    margin: auto;
    display: block;
}

.content {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

/*-------------------------------------
aboutセクション
-------------------------------------*/

.about {
    width: 100%;
    padding: 50px 50px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #fcfcfc;
    border-radius: 20px;
    margin-bottom: 50px;
}

.about img {
    width: 40%;
    /* padding: 50px 0; */
    /* background-color: rgba(255,255,255,0.7); */
    /* border: 1px solid black; */
}

.about-text {
    width: 60%;
    /* padding: 50px 0; */
    /* background-color: rgba(255,255,255,0.7); */
    /* border: 1px solid black; */
}

.about-text h2 {

    margin-bottom: 20px;
}

.about-text h5 {
    color: black;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.about-text p {
    color: black;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 45px;
    line-height: 28px;
}

/* -------------------------------------
メンバーセクション
------------------------------------- */

.member {
    width: 100%;
    padding: 50px 50px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #fcfcfc;
    border-radius: 20px;
}

.box {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    width: 100%;
}

.card {
    position: relative;
    height: 420px;
    width: 330px;
    background-color: rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    padding: 20px 35px;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    margin: 25px 0;
    transform: translateY(125px) scale(2.0);
    transition: .5s;
    -webkit-text-stroke: .5px #000;
}

.card:hover i {
    transform: translateY(0px) scale(1.0);
}

.mem-text {
    transform: translateY(250px);
    opacity: 0;
    transition: .5s;
}

.card:hover .mem-text {
    transform: translateY(0px);
    opacity: 1;
}

.bbb {
    color: #b94047;
}

.mmm {
    color: #5f0;
}

.kkk {
    color: #fa0;
}

.ggg {
    color: #a0f;
}

.card h5 {
    color: black;
    font-size: 23px;
    margin-bottom: 15px;
}

.card h6 {
    color: black;
    font-size: 18px;
    margin-bottom: 15px;
}

.pragraph p {
    color: black;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

/* -------------------------------------
footer部分
------------------------------------- */
.site-footer {
    color: #fcfcfc;
    background-color: #1f1f1f;
}


/* SP */
@media  screen and (max-width: 400px) {
    .box {
        display: block;
    }
}